@{
    ViewBag.Title = "cViewPostedJobs";
		Layout = "~/Views/Shared/_Layout.cshtml";
}

@using fViews.Models;
@using System.Collections;
@model System.Collections.Generic.List<Job>
@using fViews.Models;
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap/css/bootstrap.min.css" />

<script type="text/javascript" src="~/Content/jquery/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="~/Content/bootstrap/js/bootstrap.min.js"></script>


<h2>View All Clients</h2>
<h1 class="text-muted"><em>Your Posted Jobs!!!</em></h1>
<html>
<body>
<table id="example" class="table table-responsive table-bordered" cellspacing="0" width="100%">
	<thead>


		<tr>
			<th class="alert-info">Job Name</th>
			<th class="alert-info">Job Rate</th>
			<th class="alert-info">Job Discription</th>
			<th class="alert-info">Job Duration</th>
			<th class="alert-info">Action</th>

		</tr>
	</thead>

	<tfoot>
		<tr>
			<th class="alert-info">Job Name</th>
			<th class="alert-info">Job Rate</th>
			<th class="alert-info">Job Discription</th>
			<th class="alert-info">Job Duration</th>
			<th class="alert-info">Action</th>
		</tr>
	</tfoot>

	<tbody>



		@foreach (Job data in Model)
		{

			<tr class="info">
				<td>@(data.jName)</td>
				<td>@(data.jRate)</td>
				<td>@(data.jDiscription)</td>
				<td>@(data.jDuration)</td>
				
					
				<td>@Html.ActionLink("Delete", "DpostedJob", new { id = data.Id })</td>



			</tr>



		}

</table>

</body>
</html>