@{
    ViewBag.Title = "RemoveClints";
}

@using fViews.Models;
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap/css/bootstrap.min.css" />

<script type="text/javascript" src="~/Content/jquery/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="~/Content/bootstrap/js/bootstrap.min.js"></script>


@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">


	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom CSS -->
	<link href="css/agency.css" rel="stylesheet">
	<!-- Custom Fonts -->
	<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->*@

<body background="~/Content/img/admin.jpg">
	

	<h2>View All Clients</h2>
	<h1>All Clients</h1>

	<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
		<thead>


			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Display Name</th>
				<th>Email Id</th>
				<th>Action</th>

			</tr>
		</thead>

		<tfoot>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Display Name</th>
				<th>Email Id</th>
				<th>Action</th>

			</tr>
		</tfoot>

		<tbody>



			@foreach (Client data in ViewData.Model)
			{

				<tr>
					<td>@(data.cFname)</td>
					<td>@(data.cLname)</td>
					<td>@(data.cDname)</td>
					<td>@(data.eId)</td>
					<td>@Html.ActionLink("Delete", "rClient", new { id = data.cId })</td>

				</tr>



			}

	</table>

</body>

